@import '../../../../styles/component/form.element';

.dynamic-formik--media-cloud-radio {
  display: flex;
  height: 40px;
  align-items: center;

  .dynamic-formik--media-cloud-radio--input {
    display: flex;
    flex-direction: row;
    margin-right: 30px;

    &.ui.checkbox:hover {
      &::after {
        background-color: var(--color-olive-light) !important;
      }
    }

    &.ui.checkbox label,
    &.ui.checkbox.checked label {
      font-size: 13px;
      color: var(--color-text-grey);
      &::before {
        background: transparent !important;
        border: 0.5px solid var(--color-actions-default) !important;
      }

      &::after {
        background-color: var(--color-olive-light) !important;
        transform: scale(0.6);
      }
    }
  }

  &.disabled {
    .dynamic-formik--media-cloud-radio--input {
      &.ui.checkbox label,
      &.ui.checkbox.checked label {
        opacity: 0.7;
        pointer-events: none;
      }
    }
  }

  @include dark-mode {
    .dynamic-formik--media-cloud-radio--input {
      &.ui.checkbox label,
      &.ui.checkbox.checked label {
        color: white;
        font-weight: normal;
      }
    }
  }
}
