@import '../../../../styles/component/formik.controls';
@import '../../../../styles/component/form.element';

.component__formik--media-cloud-textbox {
  position: relative;
  padding-left: 0;

  .ui.input {
    width: 100%;

    input {
      padding-right: 30px;
      background-color: transparent;
      @extend %common;
    }
  }

  &.disabled {
    @extend %common-disabled;

    .component__formik--media-cloud-textbox--clear {
      pointer-events: none;
      svg {
        g {
          stroke: var(--color-actions-default);
          fill: var(--color-actions-default);
        }
      }
    }
  }

  .component__formik--media-cloud-textbox--clear {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    border-radius: 50%;
    cursor: pointer;
    height: 17px;
    width: 17px;
  }

  @include dark-mode {
    .ui.input {
      input {
        border: 0.5px solid var(--color-text-grey);
        color: white;
      }
    }
  }
}
