@import '../../../../styles/component/form.element';

.component__formik--media-cloud-textarea {
  resize: vertical;
  width: 100%;
  padding: 20px;
  background-color: transparent;

  &:focus {
    outline: none !important;
  }

  &.disabled {
    opacity: 0.7;
    border: 0.5px solid #b8c0cb;
    border-radius: 4px;
  }

  border-radius: 4px;
  border: 1px solid var(--color-actions-default);

  @include dark-mode {
    border: 0.5px solid var(--color-text-grey);
    color: white;
  }
}
