.ui.checkbox.component__formik--media-cloud-checkbox {
  min-height: 10px;

  label {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
  }

  input ~ .box:before,
  input ~ label:before {
    height: 15px;
    width: 15px;
    border-radius: 2px;
    background-color: var(--color-white);
    border: 1px solid #6b6c7a;
  }

  input:checked ~ .box:after,
  input:checked ~ label:after {
    content: ' ';
    height: 15px;
    width: 15px;
    border-radius: 2px;
    background-color: var(--color-olive-light);
    border-color: var(--color-default-grey);
  }
}
